<div book-details-form style="text-align: center;">

  <!-- <label>{{book.title}}</label> -->

<br>
  <mat-form-field appearance="fill" style="width: 30%">
    <mat-label>Title</mat-label>
    <input matInput value="{{book.title | titlecase}}" name="title" disabled="true">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" style="width: 30%">
    <mat-label>Author</mat-label>
    <input matInput value="{{book.author | titlecase}}" name="author" disabled="true">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" style="width: 30%">
    <mat-label>ISBN</mat-label>
    <input matInput value="{{book.isbn}}" name="isbn" disabled="true">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" style="width: 30%">
    <mat-label>Page Number</mat-label>
    <input matInput value="{{book.pageNumber}}" name="pageNumber" disabled="true">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" style="width: 30%">
    <mat-label>Date of Release</mat-label>
    <input matInput value="{{book.dateOfRelease | date}}" name="dateOfRelease" disabled="true">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" style="width: 30%">
    <mat-label>Genres</mat-label>
    <mat-chip-list aria-label="Genres">
    <mat-chip color="primary" selected *ngFor="let genre of book.genres">{{genre}}</mat-chip>
  </mat-chip-list>
</mat-form-field>
<br>
<div *ngIf="book.user != null && book.user != undefined; else elseBlock">
  
  <mat-form-field appearance="fill" style="width: 30%">
    <mat-label>Rented by User</mat-label>
    <input matInput value="{{book.user.username}}" name="pageNumber" disabled="true">
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary"(click) = "returnBook(bookId)">Return Book</button>
</div>
<ng-template #elseBlock>
  <mat-form-field appearance="fill" style="width: 30%">
    <mat-label>Rented by User</mat-label>
    <input matInput value="No user, Book is free to Rent" name="pageNumber" disabled="true">
  </mat-form-field>
  <br>
  <button mat-raised-button color="accent"(click) = "openDialog(bookId)">Rent Book</button>
<br>
</ng-template>

  <br>
  <button mat-raised-button color="none" routerLink="">Back to Home</button>

  <!-- <mat-chip-list class="no-wrap" >
    <mat-chip class="no-wrap" *ngFor="let genre of book.genres.split(',')">{{genre}}</mat-chip>
</mat-chip-list> -->
<!-- <br>
<div *ngIf="book.user != null && book.user != undefined; else elseBlock"><button mat-raised-button color="accent"(click) = "openDialog(bookId)">Rent Book</button></div>
<ng-template #elseBlock><button mat-raised-button color="primary"(click) = "openDialog(bookId)">Return Book</button></ng-template> -->
</div>

  
